body{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
    background-color: aliceblue;
    z-index: 999;
}
.header img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px; 
    width: auto;     
}
#logotext{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 90px;
}
#navbar{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 18px;

    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #4235ef;
    cursor: pointer;
}


#navbar li a:hover::after,
#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    position: absolute;
    background-color: #4235ef;
    bottom: -4px;
    left: 20px;
    
}
#hero {
    margin-top: 0%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    /* padding-top: 10px; */
    background-color: #deecf1; 
    height: 60vh;
}
#info1 {
    margin-top: -80px;
    flex-grow: 1;
    max-width: 60%; 
    margin-left: 30px;
}
h2 {
    margin: 10px 0; /* Adjust the top and bottom margin for h3 elements as needed */
}

h4 {
    margin-top: 20px; /* Adjust the top margin for h4 element as needed */
    /* font-style: italic; */
}


#info1 img {
    max-width: 100%; 
}

#herotext{
    color: #1abc9c;
    z-index: 1;

}
.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 14px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
.bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  
.bn632-hover:focus {
    outline: none;
}
  
.bn632-hover.bn22 {
    background-image: linear-gradient(
      to right,
      #0ba360,
      #3cba92,
      #30dd8a,
      #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.search-container {
    position: relative;
    width: 200px;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 20px;
    outline: none;
}

.search-icon {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    cursor: pointer;
}